@page "/"
@using Wordler.Core

<PageTitle>Wordler</PageTitle>

<Wordler.Web.Components.WordInput WordChanged="@WordChanged">
</Wordler.Web.Components.WordInput>

<div>
    @foreach (var possible in Possibilites)
   {
       <p>@possible</p>
   }
</div>

@code {
    List<string> Possibilites { get; set; } = new();

    void WordChanged(LetterSpace?[] word)
    {
        var letters = word.Where(l => l is not null).Cast<LetterSpace>();
        Possibilites = Mixer.Mix(letters).Select(LettersToWord).ToList();
    }

    string LettersToWord(IEnumerable<char?> letters) => 
        new(letters.Select(l => l ?? '_').ToArray());
}
