@page "/"
@using Wordler.Web.Components

<PageTitle>Wordler</PageTitle>

<InputMixer PossibilitesChanged="PossibilitesChangedAsync" />

<div>
    @foreach (var possible in Possibilites)
    {
        <p>@possible</p>
    }
</div>

@code{
    IEnumerable<string> Possibilites { get; set; } = Array.Empty<string>();

    Task PossibilitesChangedAsync(IEnumerable<string> mixes)
    {
        Possibilites = mixes;
        return Task.CompletedTask;
    }
}