@page "/"
@using Wordler.Web.Components

<PageTitle>Wordler</PageTitle>

<header>
    <h1>Wordler</h1>
</header>

<section>
    <InputMixer PossibilitesChanged="PossibilitesChangedAsync" />

    <div class="possibilites">
        @foreach (var possible in Possibilites)
        {
            <p>@possible</p>
        }
    </div>
</section>

@code {
    IEnumerable<string> Possibilites { get; set; } = Array.Empty<string>();

    Task PossibilitesChangedAsync(IEnumerable<string> mixes)
    {
        Possibilites = mixes;
        return Task.CompletedTask;
    }
}