@using Wordler.Core

<div class="@GetStatusClass()">
    @for (int i = 0; i < 5; i++)
    {
        <LetterInput Status="Status"
                 Index="i"
                 LetterChanged="@LetterInputChanged">
        </LetterInput>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public LetterStatus Status { get; set; }

    [Parameter]
    public EventCallback<LetterSpace?[]> WordChanged { get; set; }

    LetterSpace?[] Word { get; set; } = default!;

    protected override void OnInitialized()
    {
        Word = new LetterSpace[5];
    }

    async Task LetterInputChanged(LetterSpace letterSpace)
    {
        int index = letterSpace.At ?? letterSpace.NotAt.Single();
        Word[index] = letterSpace;
        await WordChanged.InvokeAsync(Word);
    }

    string GetStatusClass() => Status.ToString().ToLower();
}
